body{
    background: green;
    color: yellow;
}

@media screen and (max-width:980px){
    body{
        background: blue;
        color: white;
    }
}

@media screen and (max-width:600px){
    body{
        background: black;
        color: white;
    }
}